:root{
    --background: #43176b;
    --background-sec: #e7e0e7;
}

* {
    padding: 0;
    margin: 0;
    background-color: var(--background);
    font-family: 'Staatliches', cursive;
    letter-spacing:  0.2rem;
}

.main{
    background-color: var(--background-sec);
    margin: 15px;
}

a {
    outline: none;
    text-decoration: none;
}

button:hover{
    cursor: pointer;
}

button{
    padding: 15px;
}

label{
    font-size: 50px;
    margin: 10px;
    background-color: var(--background-sec);
    color: var(--background);
}

input{
    background-color: var(--background-sec);
    color: var(--background);
    padding: 10px;
    text-align: center;
    font-size: 25px;
    height: 50px;
    width: 200px;
}

/* Header Section */
header{
    display: flex;
    justify-content: space-between;
    height: 10%;
    color: var(--background-sec);
}

header div{
    padding: 15px;
}

header h2{
    text-align: center;
    margin: auto;
    padding: 15px;
}

header h2 a{
    color: var(--background-sec);
}

/* Progress section */
#dot-wrapper{
    display: none;
    justify-content: space-around;
    width: 50%;
    margin: 30px auto 15px auto;
}

.progress-dot{
    height: 15px;
    width: 15px;
    border: 3px solid var(--background-sec);
    border-radius: 180px;
}

/* Main section */
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 50 auto;
    padding: 0 10%;
    height: 60%;
    width: 60%;
    border-radius: 15px;
    background-color: var(--background-sec);
}

main h1{
    margin: 15 auto;
    text-align: center;
    width: 60%;
    color: var(--background);
    background-color: var(--background-sec);
}

main ul{
    display: flex;
    flex-direction: column;
    color: var(--background);
    background-color: var(--background-sec);
}

main ul li{
    padding: 10px;
    margin: 20 auto;
    width: 300px;
    text-align: center;
    border-radius: 15px;
    list-style: none;
    cursor: pointer;
    background-color: var(--background);
    color: var(--background-sec);
}

main ul li:hover{ 
    background-color: #772ac0;
}
